@font-face {
  font-family: 'silkaregular';
  src: url('./fonts/silka-regular-webfont.eot');
  src: url('./fonts/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/silka-regular-webfont.woff2') format('woff2'),
       url('./fonts/silka-regular-webfont.woff') format('woff'),
       url('./fonts/silka-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  font-family: 'silkaregular';

}

/* .wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
  background: #969696;
} */




/* #gameFields{
  background-color: #bebebe;
  top:10px;
  left:10px;
} */


.game-background{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}
canvas {
  display:block;
  top: 0;
  left: 0;
  background: rgb(20,13,57);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(20,13,57,0.75) 70%, rgba(255,255,255,1) 100%);
  position: absolute;
  z-index: -10;
}

#particles-js {
  height: 100%; 
  opacity: 1;
}

.balltext {
  font-size: 3em;
  text-anchor: middle;
  user-select: none;
}

.wordToGuess{
  font-size: 3em;
  text-anchor: middle;
  user-select: none;
}

text{
text-anchor: end;
}