

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

/* .wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
  background: #969696;
} */




/* #gameFields{
  background-color: #bebebe;
  top:10px;
  left:10px;
} */


.game-background{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}
canvas {
  display:block;
  top: 0;
  left: 0;
  background: #bebebe;
  position: absolute;
  z-index: -10;
}

#particles-js {
  height: 100%; 
  opacity: 1;
}